name: Publish to NPM
permissions:
  id-token: write
  contents: read

on:
  push:
    branches: master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: "22"
      - uses: oven-sh/setup-bun@v2
      - name: Install Dependencies
        run: bun install --frozen-lockfile
      - name: Build Project
        run: bun run build
      - uses: JS-DevTools/npm-publish@v4
        with:
          access: "public"
          provenance: true